body {
    background:black;
    text-align:center;
    color:white;
    font-family: Arial;
    margin:0px;
}

div {
    margin:auto;
}

h2 {
    margin:0;
    font-family:monospace;
    font-size:40px;
}

p {
    font-family:"Arial";
    font-size:21px;
}

.navbar {
    width:1000px;
}

.content {
    width:640px;
    height:700px;
    background:#262626;
    text-align:left;
    margin-top:0px;
    padding-top:40px;
    padding-left:180px;
    padding-right:180px;
}

.startbtn {
    margin-top:100px;
    width:640px;
    height:70px;
    height:2;
    font-size:60px;
    font-family:monospace;
    text-align:center;
    background-color:orange;
    border-radius:20%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #b3b300;
}

li {
    float:left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
}

li a:hover {
    background-color: #004d00;
}
